<%= simple_form_for(@classroom, defaults: { input_html: { class: 'form-control' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-group col-md-12">
    <%= f.association :student %>
  </div>

  <div class="form-group col-md-12">
    <%= f.association :course %>
  </div>

  <div class="form-group col-md-2">
    <%= f.button :submit, class: 'btn btn-success btn-block' %>
  </div>

  <div class="form-group col-md-2">
    <%= link_to 'Voltar', courses_path, class: 'btn btn-default btn-block' %>
  </div>

<% end %>