<div class="col-md-12">
  <h2>Detalhes da Matrícula</h2>
  <br />

  <% if notice %>
    <div class="alert alert-success alert-dismissible fade in text-center" role="alert">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>
      <%= notice %>
    </div>
  <% end %>

  <p class="col-md-12">
    <strong>Matrícula:</strong>
    <%= @classroom.id %>
  </p>

  <p class="col-md-12">
    <strong>Estudante:</strong>
    <%= @classroom.student.name %>
  </p>

  <p class="col-md-12">
    <strong>Curso:</strong>
    <%= @classroom.course.name %>
  </p>

  <p class="col-md-12">
    <strong>Matriculado em:</strong>
    <%= @classroom.entry_at.strftime("%d/%m/%Y %H:%M") %>
  </p>

  <div class="col-md-2">
    <%= link_to 'Editar', edit_classroom_path(@classroom), class: 'btn btn-info btn-block' %>
  </div>

  <div class="col-md-2">
    <%= link_to 'Voltar', classrooms_path, class: 'btn btn-default btn-block' %>
  </div>

</div>